.previewHotelCardButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #6d94c5;
    color: white;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        background-color: #4E6F98FF;
    }
}